# Backend API (Python FastAPI port 8000 or Java Spring Boot port 8080)
VITE_API_BASE_URL=http://localhost:8000

# Local or Remote Intelligence Microservices
VITE_INFERENCE_API=http://172.16.216.12:8001
VITE_MULTIMODAL_API=http://172.16.216.12:8002
